{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="summary col-md-12 {{post_class}}">
    <header>
        <h2 class="title">
            <a href="{{url}}">{{{title}}}

            </a>

        </h2>

    </header>
    <div class="subhead"> <time datetime="{{date format='YYYY-MM-DD'}}" class="">{{date format="YYYY-MM-DD"}}</time> by {{authors limit="1"}}
        <span class="ml-2">{{tags prefix="<span class='fa fa-tags'></span>&nbsp;"}}</span></div>

    <section class="description">
        <p>{{excerpt words="30"}}
            <a class="read-more" href="{{url}}">more...</a>
        </p>

    </section>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
<div class="col-md-12 mb-4 text-center">
    {{pagination}}
</div>
