{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
<section class="text-center">
    <h3 class="title mb-0">About {{name}}</h3>
    <div class="author-meta">
        {{#if location}}<i class="fa fa-map-marker"></i> {{location}}&nbsp;{{/if}}
        {{#if website}}<i class="fa fa-link"></i><a href="{{website}}"> {{website}}</a>&nbsp;{{/if}}
        <i class="fa fa-chart-bar"></i>
        {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
    </div>
    <div class="description mt-1">{{bio}}</div>
</section>
<hr class="my-2">
{{/author}}

{{! The main content area on the homepage }}
<main class="container-fluid" role="main">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
</main>
