{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
{{!-- <a href="{{@blog.url}}" class="read-more"><i class="el el-caret-left read-more"></i> home</a> --}}
{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{#contentFor "initHighlight"}}
<script>hljs.initHighlightingOnLoad();</script>
{{/contentFor}}

<article class="row {{post_class}} mx-0 my-3">
    <header class="col-12">
        <div class="col-12 no-margin no-padding post">
            <h1 class="title">
                {{title}}
            </h1>
        </div>
        <div class="col-12">
            {{#if feature_image}}
            <img src="{{feature_image}}" class="post-image" />
            {{/if}}
        </div>

    </header>

    <section class="col-12">
        {{content}}
    </section>

    <footer class="col-12 author">
        {{date published_at timeago="true"}} by {{authors}}
    </footer>
</article>
{{/post}}
